<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cube.storm.language.example"
>
	<application
		android:allowBackup="true"
		android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
	>
		<activity android:name=".ExampleActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SettingsActivity" />
	</application>
</manifest>
